body {
display:flex;
justify-content:center;
background-image: url(bgimage.jpg)  ;
}

.wrapper {
background:transparent;
width:420px;
height:700px;
border-radius:10px;
display:grid;
place-items:center;
backdrop-filter: blur(5px);
border: solid;

}

.wrapper .dp {
background:url("bgimage.jpg")no-repeat center center/cover;
height:200px;
width:200px;
border-radius:100px;
border: solid;
}