body{
    background-color: rgb(55, 131, 67);
}
.bod{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.header{
    background-color: aliceblue;
    border-radius: 10px;
    margin: 15px;
    width: 100%;
    height: 9vh;
}
.header h1{
    color: red;
}
.bodi{
    width: 100%;
    height: auto;
    text-align: center;
}
.foot{
    background-color: aliceblue;
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn{
    font-size: 18px;
    font-weight: bolder;
    margin: 12px;
    border-radius: 7px;
    background-color: rgb(55, 131, 67);
}